# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# --- MAVEN / SPRING BOOT ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.backup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# --- IDEs (IntelliJ, Eclipse, VS Code) ---
.idea/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.sts4-cache/
.springBeans

# --- SISTEMA OPERACIONAL ---
.DS_Store
Thumbs.db
